.center {
    text-align: center;
    margin: 0 auto;
}

.chart-grid{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;

}

.chart-box{

    margin: 0 auto;
    width: "600px";

}

.top-header-group{
    
    display: flex;
    justify-content: space between;
    gap: 20px;
    margin: 10px;
}

.lr-header-sections{
  flex: 1; /* Makes both sections take equal space */
  padding: 20px;
  display: block;  /* Ensures each label takes its own line */
  text-align: left;
  margin-bottom: 0.5rem; /* Optional spacing between labels */
}

.single-chart {
  display: flex;
  justify-content: center;
}
